<div class="card mb-3">
    <div class="row g-0">

        <div class="col-md-8 col">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <h6 class="subtitle op-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ipsum. Voluptatum ea quisquam architecto, officia alias fugit itaque ex iure. Eligendi cum blanditiis culpa ut harum accusantium ab. Itaque, accusamus.
                </h6>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore culpa voluptates
                    quos nulla? Rerum consequuntur veniam rem excepturi! Tempore sunt eligendi veritatis quaerat,
                    consequatur obcaecati ipsum? Error a ullam id.</p>
                <button class="btn btn-outline-success">EXPLORE</button>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/image1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>
