.card {
  max-width: 800px;
  margin: 5rem auto;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.btn {
  width: 100%;
}
